
<h1>Sign Up</h1>


<% if @user.errors.any? %>
  <div class='alert alert-danger'>
    <p>Please correct the following errors:</p>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <div class=''>
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: 'Email' %>
  </div>
  <div class=''>
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: 'Password' %>
  </div>
  <div class=''>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation' %>
  </div>
  <%= f.submit 'Submit', class: '' %>
<% end %>

<p class=''>
  Already have an account? <%= link_to 'Click here to sign in.', login_path %>
</p>
