<%= form_with scope: :search, :method => "get", url: venues_path, local: true do |form| %>
<ul class="nav">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Name</a>
    <div class="dropdown-menu">
			<div class="dropdown-item">
				<%= form.text_field :name, placeholder: "Name", class:"nav-item"%>
			</div>
      <a class="dropdown-item" href="#">Enter Name Keyword</a>
    </div>
  </li>
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Address</a>
		<div class="dropdown-menu">
			<div class="dropdown-item">
				<%= form.text_field :address, placeholder: "address", class:"nav-item"%>
			</div>
			<a class="dropdown-item" href="#">Enter Address Keyword</a>
		</div>
  </li>
  <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Category</a>
		<div class="dropdown-menu">
			<div class="dropdown-item">
				<%= form.text_field :category, placeholder: "category", class:"nav-item"%>
			</div>
			<a class="dropdown-item" href="#">Enter category Keyword</a>
		</div>
  </li>
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Price</a>
		<div class="dropdown-menu">
			<div class="dropdown-item">
				<%= form.check_box :price, {}, "$", false %>
				<label for="$">$</label>
			</div>
			<div class="dropdown-item">
				<%= form.check_box :price, {}, "$$", false  %>
				<label for="$$">$$</label>
			</div>
			<div class="dropdown-item">
				<%= form.check_box :price, {}, "$$$", false %>
				<label for="$$$">$$$</label>
			</div>
			<div class="dropdown-item">
				<%= form.check_box :price, {}, "$$$$", false %>
				<label for="$$$$">$$$$</label>
        </div>
	</li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Rating</a>
    <div class="dropdown-menu">
      <div class="dropdown-item">
        <%= form.check_box :avg_rating, {}, "1", false %>
        <label for="1">1</label>
      </div>
      <div class="dropdown-item">
        <%= form.check_box :avg_rating, {}, "2", false  %>
        <label for="2">2</label>
      </div>
      <div class="dropdown-item">
        <%= form.check_box :avg_rating, {}, "3", false %>
        <label for="3">3</label>
      </div>
      <div class="dropdown-item">
        <%= form.check_box :avg_rating, {}, "4", false %>
        <label for="4">4</label>
      </div>
      <div class="dropdown-item">
        <%= form.check_box :avg_rating, {}, "5", false %>
        <label for="5">5</label>
      </div>
  </li>

	<li class="nav-item">
	</li>
  <%=form.submit %>

  <% end %>
</ul>




<div>
  <% @venues.each_with_index do |venue, index| %>
	   <div>
				<a href="/venues/<%= venue.id%>"><h5><%= "#{venue.name}"%></h5></a>

        <p><%= "Avg Rating: #{venue.avg_rating}, Votes: #{venue.votes.count}"%></p>
        <!-- <p><%= "Avg Rating: #{venue.votes.pluck(:rating).empty? ? 0 : venue.votes.average(:rating)}, Votes: #{venue.votes.count}"%></p> -->

        <p><%= "Price: #{venue.price}, Category: #{venue.category},"%></p>
        <p><%= "Address: #{venue.address}"%></p>
        <p><%= "#{venue.description.first(60)}..."%></p>
	    </div>
    <% end %>
</div>

<div class = "container">
	<%= paginate @venues%>
</div>





<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
